
<div class="jumbotron"> 
 	


  <h1>Own Your Health!</h1>
  <p class="jumbotron-desc"> Start your journey to optimal health today!</p>
  <%if user_signed_in? %>
  	<h3>Welcome <%= current_user.first_name%></h3>
  	<% if current_user.image? %>
  	<img src= <%= current_user.image.url%>  class="welcome-user-image" >
  	<% else %>
  	<img src="/assets/no_profile.png"  alt="..." class="welcome-user-image">
  	<% end %>

  <%else%>
  	<div class ="sign_in_form">
  		<%= render "form_login" %>
  	</div>	


  	<div class ="fb_button_home"><%= link_to image_tag("fb_log_in.png"), user_omniauth_authorize_path(:facebook) %>
  <% end %>	
  </div>	

</div>
<div class ="container">
	<div class="row">
  		<div class="col-md-8">
  
			<h1>Latest Workouts</h1>
				<% @post_activities.each do |t| %>

					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					    	
					    		
					    			<% if t.user.image? %>
							    		<img src= <%= t.user.image.url %> alt="..." class="img-rounded">
							    	<% else %>
							    		<img src="/assets/no_profile.png"  alt="..." class="img-rounded">
							    	<% end %>
							    	<span class ="workout_title">
							    		<%= link_to t.user.first_name + "  had a " + t.activity.name + " Workout ", t %> 
							    	</span>	
					    							    		
					    			<span class="activity-points"><%= t.act_points %>
					    			</span>

					    		
					    				

					    	
					    	
					    </h3>
					  </div>
					  <div class="panel-body">
					  	<% if t.image? %>
						    <p> <%=  image_tag t.image.url(:medium) %> </p>
						<% else %>
						<% end %> 
							<p> <i> <%= " Posted " + time_ago_in_words(t.created_at) + " ago " %></p> </i> 
							<p> <%= t.description %></p>

							<p>
							<%= link_to like_post_activity_path(t), method: :put, class: "btn btn-default" do %>
								<i class="glyphicon glyphicon-heart"></i>
							
						<% end %>		
								<%= t.get_upvotes.size %>
								
								<span class ="comments">
									<%= link_to t.comments.count.to_s + " Comments ", post_activity_comments_path(t.id, t.id) %> 
								</span>	

					  </div>

			        </div>
			        	
			  <% end %>
			  <!--  Pagination under post activites posts column outside loop */ -->
			  	<div class="apple_pagination">
    				<%= will_paginate @posts_activities, :container => false %>
 				</div>
		</div>
        <div class="col-md-4">
        <h1>Leaders</h1>	
 
        	<% @users.each do |u| %>	
        		<div class="panel panel-primary">
  					<div class="panel-heading">
  						<% if u.image? %>
					    	<img src= <%= u.image.url %> alt="..." class="img-rounded">
					    <% else %>
					    	<img src="/assets/no_profile.png"  alt="..." class="img-rounded">
					    <% end %>
					    <%= u.first_name %>
        				<%= u.total_points %>
        				Points
					 </div>
				</div>
        		
        		
        	<%end%>
        	




        </div>

    </div> 

	<br>
	
	<p><h3>

	
			
		</br>
	<% if user_signed_in?%>	
		<%= link_to "New Workout", new_post_activity_path %></p></h3>
	<% else %>
	<% end %>
	



</div>	


