<div class="jumbotron">
  <h1>Own Your Health!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class ="container">
	<div class="row">
  		<div class="col-md-8">
  
			<h1>Latest Workouts</h1>
				<% @post_activities.reverse_each do |t| %>

					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">

					    	<% if t.user.image? %>
					    		<img src= <%= t.user.image.url %> alt="..." class="img-rounded">
					    	<% else %>
					    		<img src="/assets/no_profile.png"  alt="..." class="img-rounded">
					    	<% end %>
					    	<%= link_to t.user.first_name + "  had a " + t.activity.name + " Workout ", t %> 
					    	<div class="activity-points"><%= t.act_points %></div>

					    </h3>
					  </div>
					  <div class="panel-body">
					  	<% if t.image? %>
						    <p> <%= image_tag t.image.url(:medium) %> </p>
						<% else %>
						<% end %>    
							<p> <%= t.description %></p>

							<p>
							<%= link_to like_post_activity_path(t), method: :put, class: "btn btn-default" do %>
									<i class="glyphicon glyphicon-heart"></i>
						<% end %>		
								<%= t.get_upvotes.size %>
								
								<span class ="comments"><%= link_to t.comments.count.to_s + " Comments ", post_activity_comment_path(t.id, t.id) %> 
								</span>	

					  </div>

			        </div>
			  <% end %>
		</div>
        <div class="col-md-4">
        <h1>Leaders</h1>	
 
        	<% @users.each do |u| %>	
        		<div class="panel panel-primary">
  					<div class="panel-heading">
  						<% if u.image? %>
					    	<img src= <%= u.image.url %> alt="..." class="img-rounded">
					    <% else %>
					    	<img src="/assets/no_profile.png"  alt="..." class="img-rounded">
					    <% end %>
					    <%= u.first_name %>
        				<%= u.total_points %>
        				Points
					 </div>
				</div>
        		
        		
        	<%end%>
        	




        </div>
    </div> 
	<br>
	
	<p><h3>
	<%= link_to "New Workout", new_post_activity_path %></p></h3>
	



</div>	


