<div class="jumbotron">
  <h1>Own Your Health!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class ="container">
	<h1>These are the  Activity log</h1>
	<% @post_activities.each do |t| %>
		<h3><%= link_to t.activity.name, t %> 
			<%= t.user.first_name + "  is awarded " %>: 
		<%= t.act_points  %>

		 pts</h3> 

		<p> <%= image_tag t.image.url(:medium) %> </p>
		</p> <%= t.description %></p>
		<p> Duration : <%= t.act_mins  %> minutes </p>

		
		<%= link_to "Comments", post_activity_comment_path(t.id, t.id) %>

	<br>
	<% end %>
	<p><h3>
	<%= link_to "New Workout", new_post_activity_path %></p></h3>
	



</div>	


