<div class="jumbotron">
  <h1>Own Your Health!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class ="container">
	<div class="row">
  		<div class="col-md-8">
  
			<h1>Latest Workouts</h1>
				<% @post_activities.reverse_each do |t| %>

					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">

					    	<% if t.user.image? %>
					    		<img src= <%= t.user.image.url %> alt="..." class="img-rounded">
					    	<% else %>
					    	<% end %>
					    	<%= link_to t.user.first_name + "  had a " + t.activity.name + " Workout ", t %> 
					    	<div class="activity-points"><%= t.act_points %></div>

					    </h3>
					  </div>
					  <div class="panel-body">
					    <p> <%= image_tag t.image.url(:medium) %> </p>
						</p> <%= t.description %></p>
						<p>
						<%= link_to like_post_activity_path(t), method: :put, class: "btn btn-default" do %>
								<i class="glyphicon glyphicon-heart"></i>
						<% end %>		
								<%= t.get_upvotes.size %>
						

				
						<p><%= link_to "Comments", post_activity_comment_path(t.id, t.id) %> </p>

					  </div>

			        </div>
			  <% end %>
		</div>
        <div class="col-md-4">.col-md-4</div>
    </div> 
	<br>
	
	<p><h3>
	<%= link_to "New Workout", new_post_activity_path %></p></h3>
	



</div>	


